@charset "UTF-8";
/* CSS Document */

.gallery {
	height: 200px;
  width: auto;
  padding: 1em;
  margin: 2em 2em 2em 2em;
  background: none;

}

.gallery > div {
  position: relative;
  float: left;
  padding: 1px;
}

.gallery > div > img {
  display: block;
  width: 300px;
  transition: .1s transform;
  transform: translateZ(0); /* hack */
}

.gallery > div:hover {
  z-index: 1;
}

.gallery > div:hover > img {
  transform: scale(1.7,1.7);
  transition: .3s transform;
}

.cf:before, .cf:after {
  display: table;
  content: "";
  line-height: 0;
}

.cf:after {
  clear: both;
}

