@charset "UTF-8";
/* CSS Document */
body
{
background-color: #efefef;
background-image: url(../chiaraboisaubin.github.io/white-wood-background.jpg);
background-repeat:repeat;
background-attachment: scroll;
font-family: "Lato", sans-serif;
	text-decoration: none;

}
  header{
	height:90px;
	padding: 10px;
    background:#ED232F;
    position: relative;
	 width: 100%;
}

.logo{left:90%;
padding-top: 30px;
position: relative;}
.nav{ 
left:5%;
color: #FFFFFF;
height: 100%;
width: auto;
position:absolute;
padding-top:30px;
}


.logo{padding-top:25px;}

.sidenav a:hover{
	 color: #FFFFFF;}
	 
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
   	left: 0;
    background-color: #ED232F;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 200px;
	
}

.sidenav a {
    padding: 8px 8px 8px 50px;
    text-decoration: none;
    font-size: 1em;
    color: #FFFFFF;
    display: block;
    transition: 0.2s
	
}

.sidenav a:hover, .offcanvas a:focus{
    color: #F58236;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
h1{
 font-family: Helvetica, "Helvetica Bold", "Helvetica Bold Oblique", "Helvetica Light", "Helvetica Light Oblique", "Helvetica Neue", "Helvetica Neue Bold", "Helvetica Neue Bold Italic", "Helvetica Neue Condensed Black", "Helvetica Neue Condensed Bold", "Helvetica Neue Italic", "Helvetica Neue Light Italic", "Helvetica Neue Medium", "Helvetica Neue Medium Italic", "Helvetica Neue Thin", "Helvetica Neue Thin Italic", "Helvetica Neue UltraLight";
	font-size: 26pt;
	color: #ED232F;
}
h3{  font-family: Helvetica, "Helvetica Bold", "Helvetica Bold Oblique", "Helvetica Light", "Helvetica Light Oblique", "Helvetica Neue", "Helvetica Neue Bold", "Helvetica Neue Bold Italic", "Helvetica Neue Condensed Black", "Helvetica Neue Condensed Bold", "Helvetica Neue Italic", "Helvetica Neue Light Italic", "Helvetica Neue Medium", "Helvetica Neue Medium Italic", "Helvetica Neue Thin", "Helvetica Neue Thin Italic", "Helvetica Neue UltraLight";
	font-size: 18pt;
	color: #FFFFFF;
background-color: #F2B8B9;
padding: 20pt;}

.resturants img {
    width: 100%;
    max-height:  170px;
	border: 3px solid red;
	position: relative;}

input[type=text]{
	width: 100%;
    padding: 5px;
    box-sizing: border-box;
	border-radius: 8px;
	border: none;
	text-decoration:none;
	background-color: #FFFFFF;
	    margin: 8px;
}


form{ 
	color: #FFFFFF;
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-size:1em;
	align-items:center;
	background-color: #F8070B;
	  padding: 15px;

}

@media screen and (max-height: 450px) 
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}